---
interface Props {
  class?: string;
  subject?: string;
}
const { class: className, subject } = Astro.props;
---
<a
  data-email-obf
  data-u="rolf"
  data-d="szimnau.dk"
  data-subject={subject ?? ''}
  href="#"
  class={className}
>
  <slot><span data-email-text>rolf [at] szimnau.dk</span></slot>
</a>
<script src="/scripts/email-obfuscate.js" is:inline defer></script>
